[components.request.header]
version_regex = '^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$'
max_bytesize = 256

[components.request.file]
max_bytesize = 4096
filename_regex = '^[\w\-]{1,128}\.[a-zA-Z0-9]{2,10}$'
chunk_max_size = 4096

[components.request.auth]
max_bytesize = 1024
username_regex = '^[\w](?:[\w\-]*[\w])?$'
username_range = [4, 64]
password_range = [8, 256]
digest_length = 128
token_length = 128

[components.request.permission]
max_bytesize = 256
effect_duration_range = [0, 2_678_400]

[components.response.header]
code_regex = '^3\:\*|[0-9]\:[a-z]{1,6}$'
bytesize = 256